# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg
.env
.venv
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.hypothesis/
target/
dist/
build/

# Poetry
poetry.lock

# IDE / OS specific
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Data folder - if you don't want to commit your PDFs
# data/